@model Flight
@{
}

<h2>@Model.FlightId</h2>
<h2>@Model.DepartureCity</h2>
<h2>@Model.DestinationCity</h2>
<h2>@Model.DepartureDateTime</h2>
<h2>@Model.TotalNumberOfSeats</h2>
<h2>@Model.NumberOfFreeSeats</h2>

