@model SearchFlightsViewModel

<partial name="_SearchFlightsCard.cshtml" />

<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Flight List</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Flight" class="btn btn-info form-control text-white">
            Add New Flight
        </a>
    </div>
    <div class="col-12 border p-3">
        <form method="post">
            @if (Model.Flights.Any())
            {
                <table class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Departure City</th>
                            <th>Destination City</th>
                            <th>Departure Time</th>
                            <th>Total Number Of Seats</th>
                            <th>Free Seats</th>
                            <th>Number of Connections</th>

                            <th></th>
                        </tr>

                    </thead>
                    @foreach (var item in Model.Flights)
                    {
                        <tr style="@(item.NumberOfFreeSeats <= 5 ? "background-color:#ff2c2f !important;" : "background-color:transparent;")">
                            <td>
                                @Html.DisplayFor(m => item.DepartureCity)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.DestinationCity)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.DepartureDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.TotalNumberOfSeats)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.NumberOfFreeSeats)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.NumberOfConnections)
                            </td>
                            <td style="background-color: #fff !important;">
                                <a asp-action="Upsert" asp-route-id="@item.FlightId" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Flights available.</p>
            }
        </form>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <table class="table table-sm">
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </table>
}
