@model GroupedUserViewModel

<br/>
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Agent Statistics</h2>
    </div>
   
<div class="col-12 border p-3">
        <form method="post">
            @if (Model.Agents.Any())
            {
                <table class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Number Of Approved Reservations</th>
                    </tr>

                    </thead>
                    @foreach (var item in Model.Agents)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.User.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.User.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.User.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.User.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Role.NormalizedName)
                            </td>

                            <td>
                                @Html.DisplayFor(m => item.NumberOfApprovedReservations)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Users available.</p>
            }
        </form>
    </div>
</div>